<section>
  <div class="d-flex flex-wrap justify-content-between top-books">
    <div class="mt-5 col-12 col-lg-3">
      <div class="d-flex">
        <h3 class="homeText primaryColor">New</h3>
        <h3 class="homeText primaryColor ms-4">&</h3>
      </div>
      <div>
        <h3 class="homeText primaryColor">Trending</h3>
        <p class="homeText-p">Explore new books from our library</p>
      </div>
      <div class="mt-4">
        <form method="post" action="/book-find">
          <div class="d-flex">
            <button class="search-btn" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <input autocomplete="off" class=" search-input" type="text" name="bookName" placeholder="Search">
          </div>
        </form>
      </div>
      {{!-- <div class="card">
        <div class="card-header text-center fs-4">
          Categories
        </div>
        <div class="card-body">
          <form method="post" action="/filter-books">
            {{#each categories as |c| }}
            <div class="form-check">
              <input name="categoryFilter" class="form-check-input" type="checkbox" value="{{c.id}}" id="{{c.name}}">
              <label class="form-check-label" for="{{c.name}}">{{c.name}}</label>
            </div>
            {{/each}}
            <button class="mt-4 btn btn-outline-primary" type="submit">Filter</button>
          </form>
        </div>
      </div> --}}

    </div>

    <div class="col-12 col-md-9 col-lg-9 d-flex mt-5 justify-content-evenly flex-wrap">
      {{#if hasBook}}
      {{#each books as |p| }}
      <div class="book-container col-6 col-lg-4 mb-4 ">
        <img class="" src="{{p.imagePath}}" alt="">
      </div>
      {{/each}}
      {{else}}
      <h1>No books found!</h1>
      {{/if}}
    </div>
  </div>

  <div class="col-12 d-flex mt-5 justify-content-evenly flex-wrap bottom-books">
    <div class="best-seller-container">
      <p class="best-seller-p">Recent Bestseller</p>
    </div>
    {{#if hasBook}}
    {{#each books as |p| }}
    <div class="card col-12 col-md-6 col-sm-12 col-lg-3   col-3 mb-4 ">
      <div class="d-flex">
        <div class="card-image-header ">
          <img class="img-responsive" src="{{p.imagePath}}" alt="">
        </div>
        <div class="card-body">
          <h6 class="mb-3 bottom-card-p"><span class="bottom-card-title"> Title: </span>{{p.title}}</h6>
          <h6 class="mb-3 bottom-card-p"><span class="bottom-card-title">Year released:</span> {{p.yearReleased}}</h6>
          <h6 class="mb-3 bottom-card-p"><span class="bottom-card-title">Publisher: </span> {{p.publisher}}</h6>
          <h6 class="mb-3 bottom-card-p"><span class="bottom-card-title">Author:</span> {{p.author}}</h6>
        </div>
      </div>
    </div>
    {{/each}}
    {{else}}
    <h1>No books found!</h1>
    {{/if}}
  </div>
  <section>