<div class="d-flex w-100  justify-content-between">
    <h3>Books Page</h3>
    <a class="float-end btn btn-outline-success" href="/create-book">Create book</a>
</div>

<div>
    <div class="d-flex mt-5 justify-content-evenly w-100 flex-wrap">
        {{#if hasBook}}
        {{#each books as |p| }}
        <div class="card col-2 mb-4 ">
            <div class="card-header d-flex justify-content-center">
                <img class="card-img-top img-responsive" src="{{p.imagePath}}" alt="">
            </div>
            <div class="card-body">
                <h6 class="card-title mb-3">Title: {{p.title}}</h6>
                <h6 class="card-title mb-3">Year released: {{p.yearReleased}}</h6>
                <a class="btn btn-outline-primary" href="/edit-book/{{p.id}}?edit=true">Edit
                </a>
                <a class="delete-book btn btn-outline-danger" href="/delete-book/{{p.id}}">Delete
                </a>
            </div>
        </div>
        {{/each}}
        {{else}}
        <h1>No books found!</h1>
        {{/if}}
    </div>
</div>